section{
  display:flex;
  flex-wrap:wrap;
  justify-content: space-around;
}
article{
  width:250px;
  padding:30px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
article img{
  width:95%;
}

#icongoogle{
  width:30px;
}
#contentpuntuacio img{
  width:15%;
}
*{
  font-family: arial;
}
h2{
  height: 50px;
  font-size: 20px;
  display: flex;/*li faig un display flex en columnes per centrar els texts verticalment*/
  flex-direction: column;
  justify-content: center;
}
p{
  margin-top:10px;
  margin-bottom:5px;
  }

/*SLIDER fet amb splide*/
.splide img {
  width: 100%;
}
.caption-display-middle{
  position:absolute;    /*posem el div en una posició absoluta de manera que no es mogui i quedi per sobre de les imatges de l'slider*/
  top: 0; bottom: 0; right: 0; left: 0; /*si deixem totes les posicions a 0 respecte el element superior, el li, aquestdiv serà tant gran com la imatge que està dins del li*/
  /*width: 100%; height: 100%;      això seria una manera alternativa de fer-ho*/
  background: rgba(0,0,0,0.2);   /* aqui hi ha un quart canal , el alpha , per posar el grau de transparencia*/
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 1; /* li poso capa 1 perque la capa de titol i text, que lhe tret de l'slider perque només vull un h1, estigui per sobre del slider */
}
.caption-display-middle h1{
  color: white;
  margin:1%; /* li treiem els marges que automaticament porta el h2 */
  font-size: 70px;
}
.caption-display-middle p{
  color: white;
  font-size: 30px;
}

/* he copiat molts dels atributs d'aquesta pagina de generador de butons https://cssbuttongenerator.com/ */
.button {
  margin-top: 20px;
  font-size:25px;
  text-decoration: none;
  text-align: center;
  padding: 5px;
  width:250px;
  height:60px;
  border-width:1px;
  color:#fff;
  border-color:#84bbf3;
  font-weight:bold;
  border-top-left-radius:6px;
  border-top-right-radius:6px;
  border-bottom-left-radius:6px;
  border-bottom-right-radius:6px;
  box-shadow:inset 0px 1px 0px 0px #f28510;
  text-shadow:inset 0px 1px 0px #528ecc;
  background:linear-gradient(#f28510, #c72e02);
}

.button:hover {
  background: linear-gradient(#c72e02, #f28510);
}

/*FI SLIDER*/


/*pagina video*/

/*pagina formulari*/
#formulari{
  background-color: #f28510;
  margin-top:200px;
  padding: 30px;
}
#formulari label{
    margin-top:20px;
    font-size: 20px;
}
/*com que el input file fa un boto amb text castella, li posem aquest pseudo element per taparho i que sigui en catala*/
#cover {position: relative; width: 200px; height: 50px; margin-top: 20px;}
#cover::after {content: 'Pujar fitxer'; width: auto; background-color: #c72e02; color: white; position: absolute; inset: 0 0 0 0; font-size: 16px; font-weight: 700; display: flex; justify-content: center; align-items: center; line-height: 4; border-radius: 4px;}
#cover:hover::after {background-color: #f99f9f; color: #520505; cursor: pointer;}
